@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
   /* --bgbackground:#21262c; */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
   
  }
}

body {
  /* background: var(--bgbackground); */
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* globals.css or any imported CSS file */
 .slanted-hero {
  clip-path: polygon(0 0, 100% 0, 100% 40%, 0 100%);
   
}

@media (min-width: 768px ) { 

  .slanted-hero {
    clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
   }
}  

@media (min-width: 1024px ) { 
  /* /* Tailwind's md breakpoint */
  .slanted-hero {
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
   }
} 